@font-face {
  src: url('./Montserrat-Regular.woff2') format('woff2'), url('./Montserrat-Regular.woff') format('woff');
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
